@charset "utf-8";

@media only screen and (max-width: 800px)
{
    #content
    {
        width: 96%;
        margin-left:auto;
        margin-right: auto;
    }

    #pPreview
    {
        width: 100%;
        display: inline-block;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 10px #666666;
        overflow: hidden;
        margin-top: 20px;
    }

    #pPreview img
    {
        width: inherit;
        height: inherit;
        display: block;
    }

    #footnote
    {
        width: inherit;
        line-height: 30px;
        display:block;
    }
}

@media only screen and (min-width: 801px)
{
    #content
    {
        width: 800px;
        margin-left:auto;
        margin-right: auto;
    }

    #pPreview
    {
        width: 382px;
        height: 456px;
        margin: 8px;
        display: inline-block;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 10px #666666;
        overflow: hidden;
    }

    #pPreview img
    {
        width: inherit;
        height: 256px;
        display: block;
    }

    #footnote
    {
        width: 24%;
        line-height: 30px;
        display: inline-block;
    }
}

body
{
    margin: 0px;
    background-color: #EEEEEE;
    text-align: center;
}
a{text-decoration: none;}
iframe{border: none;}
hr{width: 70%;}

#banner
{
    height: 512px;
    box-shadow: 0px 0px 20px #666666;
}

#header{height: 64px;}

#nav
{
    width: 24%;
    line-height: 64px;
    height: inherit;
    display: inline-block;
}

#nav:hover
{
    color: #B8C4CB;
}

#about
{
    background-color: white;
    margin-top: -128px;
    box-shadow: 0px 0px 10px #666666;
}

#about img
{
    width:128px;
    height:128px;
    margin-top: -64px;
    border: 4px solid;
    border-color: #42A5F5;
    border-radius: 128px;
    box-shadow: 0px 0px 10px #666666;
}

#textBox
{
    padding: 8px;
    font-size: 18px;
}

#pSnippet
{
    width: inherit;
    background-color: white;
    box-shadow: 0px 0px 10px #666666;
}

#footer
{
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px #666666;
}

#copyright
{
    padding: 0px;
    height: 20px;
    line-height: 20px;
}

#pdf
{
    margin-top: -128px;
    box-shadow: 0px 0px 10px #666666;
    width: inherit;
    height:1200px;
}

#gallery
{
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    box-shadow: 0px 0px 10px #666666;
}

.galButton
{
    opacity: 1;
    background-color: white;
    margin-top: 25%;
    margin-bottom: 25%;
    border: none;
    height: 80px;
    width:30px;
    position: absolute;
    box-shadow: 0px 0px 10px #666666;
}

.bRight{right: -10px;}

.bLeft{left: -10px;}

.galButton:hover{opacity: 0.9;}

.slide
{
    width: 100%;
    height: 100%;
    position: absolute;
    display:none;
}

.small{font-size: 16px;}
.medium{font-size: 18px;}
.large{font-size: 20px;}
.larger{font-size: 22px;}

.f1{font-family: 'Roboto', sans-serif;}
.f2{font-family: 'Noto Sans', sans-serif;}

.txt{color: #B8C4CB;}
.txtWhite{color: #FFFFFF;}

.bgBlue{background-color: #03A9F4;}
.txtBlue{color: #03A9F4;}

.bgIndigo{background-color: #3F51B5;}
.txtIndigo{color: #3F51B5;}

.bgGreen{background-color: #4CAF50;}
.txtGreen{color: #4CAF50;}

.bgRed{background-color: #F44336;}
.txtRed{color: #F44336;}

.bgGrey{background-color: #607D8B;}
.txtGrey{color: #607D8B;}

.bgYellow{background-color:#FDD835;}
.txtYellow{color: #FDD835;}

.bgCyan{background-color:#00BCD4;}
.txtCyan{color: #00BCD4;}

.bgPurple{background-color:#673AB7;}
.txtPurple{color: #673AB7;}

.bgBrown{background-color: #795548;}
.txtBrown{color: #795548;}

.bgLime{background-color: #CDDC39;}
.txtLime{color: #CDDC39;}
